# Python virtual environments
.venv/
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# HPC Training outputs
cache/
models/PopulationModel_v2/
*.out
*.err
*.log
*.dat
